$color-primary: #0074D9;

$tab-height: 3em;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

p {
  padding-bottom: 1em;
}

dl {
  padding-bottom: 0.5em;
}

dt {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #999;
}

dd {

}

.width-wrapper {
  max-width: 70em;
  margin: 0 auto;
  padding: 0 1em;
}

.tabs {
  margin-top: -($tab-height);
  position: relative;
  z-index: 3;
}

.tab {
  padding: 0 1em;
  line-height: $tab-height;
  display: inline-block;
  cursor: pointer;


  &.is-selected {
    font-weight: bold;
    color: $color-primary;
    background-color: #f7f7f7;
  }
}

.tab-pane {
  display: flex;
}

.content {
  flex: 3;

  + .sidebar {
    padding-left: 2em;
  }
}

.sidebar {
  flex: 1;
}

.projects {
  position: relative;
  z-index: 1;
}

.project {
  background-color: $color-primary;
  border-radius: 3px;
  color: white;
  height: 2em;
  line-height: 2em;
  margin: 0.5em 0;
  padding: 0 0.5em;

  h4 {
    display: inline;
  }

  .children & {
    height: 1em;
  }
}

// Project duration
@for $i from 1 through 48 {
  $percentage: percentage($i / 48);

  [data-duration="#{$i}"] {
    width: $percentage;
  }

  [data-start="#{$i}"] {
    margin-left: $percentage;
  }
}


// Project/show
.project-preview {
  position: relative;
  padding: 2em 0 5em;
}

.project-details {
  background-color: #f7f7f7;
  padding: 2em 0;
}

// Timeline
.timeline {
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  .project-preview & {
    position: absolute;
  }
}

.quarter,
.month,
.week {
  color: #eee;
  display: flex;
  flex: 1;
  height: 100%;

  &:last-of-type {
    border: 0;
  }
}

.quarter {
  border-right: 2px solid;
}

.month {
  border-right: 1px solid;
}

.week {
  border-right: 1px dashed;
}
